.tooltip:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 16px solid transparent;
    border-right: 16px solid #e5e7eb;
    border-top: 16px solid #e5e7eb;
    border-bottom: 12px solid transparent;
    right: 42px;
    bottom: -8px;
  }
  