/* .job-form {
  background-image: linear-gradient(
    to right top,
    #00bbff,
    #00cbfe,
    #00d9f7,
    #00e6ec,
    #53f2df
  );
} */
.job-form input {
  background-color: #f2f6fa;
  border: none;
}

